ZEPHYR_ZPP_LIB_MODULE_DIR=/home/gasile/Documents/MASTER/AdvEmbSof/tsm_advembsof-workspace/deps/zpp_lib
ZEPHYR_CMSIS_6_MODULE_DIR=/home/gasile/Documents/MASTER/AdvEmbSof/tsm_advembsof-workspace/deps/modules/hal/cmsis_6
ZEPHYR_HAL_NORDIC_MODULE_DIR=/home/gasile/Documents/MASTER/AdvEmbSof/tsm_advembsof-workspace/deps/modules/hal/nordic
